/* fonts are located at <link rel="stylesheet" href="assets/css/type">
*/

h1 {
  font-size: 24pt;
  font-family: 'futura-pt', sans-serif;
  font-display: auto;
  font-weight: 500;
  color: rgb(68, 70, 91);
}

h2 {
  font-size: 16pt;
  font-family: 'futura-pt', sans-serif;
  font-display: auto;
  font-weight: 500;
  color: rgb(68, 70, 91);
}

h3 {
  font-size: 14pt;
  font-family: 'futura-pt', sans-serif;
  font-display: auto;
  font-weight: 500;
  color: rgb (200, 200, 200);
}

h4 {
  font-size: 10pt;
  font-family: 'futura-pt', sans-serif;
  font-display: auto;
  font-weight: 500;
  text-align: 500;
  text-transform: allcaps;
  color: rgb (151, 151, 151);
}

p {
  font-size: 12pt;
  font-family: 'futura-pt', sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

/* common
================================================== */

.white {
background-color: white;

}

body {
  overflow-x: hidden;
  background: rgb(215, 211, 207);
}


.intro {
  padding: 50px 50px 50px;
}

.contact {
  text-align: center;
  padding: 50px 50px 50px;
}

.block {
  text-align: center;
  padding: 75px 75px 75px;
}


.block-right {
  padding: 50px 50px 50px;
}

.head-home {
  padding: 50px
}


.header-intro {
  margin: 0;
  padding: 50px 50px 50px;
  background: rgb(240, 240, 240);
}


.footer {
  margin: 0;
  padding: 20px 20px 20px;
  background: rgb(240, 240, 240);
}

/* Grid
================================================== */

.portfolio-page-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4em;

}

.category-label {
  font: 500 12px/1.5 brandon_text, arial, sans-serif;
  display: block;
  text-transform: uppercase;
  margin-bottom: 3px;
  text-decoration: none;
  color: #111;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}





/* .hover {
  color: #5160a6;
  visibility: visible;
} */


/* Buttons
.button {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  border-color: black;
  background-color: rgb(230, 230, 230);
  font-size: 12px;
  border-radius: 1px;
  font-family: 'brandon-grotesque', sans-serif;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 20px;
}

.back.button {
  font-size: 12px;
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 500;
  color: #111;
  background-color: transparent;
  border: 1px solid transparent;
  vertical-align: middle;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  height: 40px;
  border-radius: 0;
  background: 0 0;
  padding: 0 20px;
}

/*
.social.button {
  font-size: 12px;
  font-family: 'adobe-caslon-pro', serif;
  font-weight: 500;
  color: #111;
  background-color: transparent;
  border: 1px solid transparent;
  vertical-align: middle;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  height: 40px;
  border-radius: 0;
  background: 0 0;
  padding: 0 20px;
}
/* containers

.image-container {
  padding-bottom: 10px;
}
*/

/* mobile
================================================== */
@media (min-width: 300px) {
.portfolio-page-grid {
    grid-template-columns: 1fr;
  }
}

/* tablet or larger
================================================== */
@media (min-width: 426px) {
.portfolio-page-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop or larger
================================================== */
@media (min-width: 769px) {
.portfolio-page-grid {
    grid-template-columns: 1fr 1fr;
  }
}

